.bill-to {
    font-weight: var(--font-medium);
}

.billing_details > * {
    padding: calc(var(--padding) * 1) 0;
}

.table-bordered {
    background-color: var(--white);
    border-radius: 0.25rem;
    width: 100%;
    border: 1px solid var(--light-grey);
}

.table-bordered tr {
    padding: calc(var(--padding) * 4) 0;
}

.table-bordered td {
    text-align: center;
    padding: calc(var(--padding) * 2) calc(var(--padding) * 4);
    border-bottom: 1px solid var(--light-grey);
    color: var(--dark-grey);
}

.table-bordered td:nth-child(1) {
    text-align: left;
}

.table-bordered tbody tr:last-child td {
    border-bottom: none;
}

.table-bordered th {
    padding: calc(var(--padding) * 3) calc(var(--padding) * 4);
    color: var(--dark-grey);
    border-bottom: 1px solid var(--light-grey);
    font-weight: var(--font-medium);
    text-align: center;
}

.table-bordered th:nth-child(1) {
    text-align: left;
}

.table-bordered input {
    width: 3rem;
    padding-right: 0;
}

.table-action {
    width: 1.25rem;
}

.input-group label {
    color: var(--dark-grey);
    display: block;
    margin-bottom: calc(var(--padding) * 3);
    font-weight: var(--font-medium);
}

.input-group {
    position: relative;
}

.input-group input {
    padding-left: calc(var(--padding) * 9);
}

.input-group i {
    position: absolute;
    left: 1.25rem;
    color: var(--grey);
    line-height: 40px;
}

.input-group input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.input-group input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: -0.5rem;
    filter: opacity(0.5);
}

.input-group input::-webkit-outer-spin-button,
.input-group input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-group input[type="number"] {
    -moz-appearance: textfield;
}

.invoice_add-item {
    border-bottom: 1px solid var(--light-grey);
}

.summary_items {
    border-bottom: 1px solid var(--light-grey);
}

.summary_item {
    display: flex;
    color: var(--dark-grey);
}

.summary_item > div,
.summary_total > div {
    padding: calc(var(--padding) * 2);
}

.summary_item > div:first-child,
.summary_total > div:first-child {
    flex-grow: 1;
    color: var(--grey);
}

.summary_name,
.summary_total {
    text-transform: uppercase;
    color: var(--light-grey);
    font-weight: var(--font-medium);
}

.summary .table-action {
    font-size: var(--h6-font-size);
}

.invoice-notes {
    height: 6rem;
}

.customer-card {
    cursor: pointer;
}

.customer-card:hover {
    transform: scale(1.02);
}
