li {
    padding: calc(var(--padding) * 6);
    list-style: none;
    padding-left: 10%;
    align-items: center;
    font-size: var(--h5-font-size);
}
ul {
    padding: 0;
    min-width: 240px;
}

.add-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.add-item-div {
    font-size: var(--h3-font-size);
    background-color: #f8fbff;
    flex: 1;
}
.add-new-item-body {
    width: 100%;
    align-items: center;
    max-width: 786px;
}

.input-box {
    width: 100%;
    outline: none;
    margin-top: 9px;
    border: 1px solid #e3e3e3;
    padding: 4px;
    height: 30px;
    border-radius: 4px;
}

label {
    font-size: var(--h5-font-size);
    color: gray;
}

form {
    background: white;
    padding: 39px;
    box-shadow: 0px 0px 6px -3px grey;
}

.current-tab-open {
    background-color: #f8fbff;
    border-left: 2px solid var(--primary-color);
    color: var(--primary-color);
}
