#hamnav {
  display: none;
}
.hamitems {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}

/* After 625px sidebar will not appear */
@media only screen and (max-width: 625px) {
  .sidebar {
    display: none;
  }
  .hamitems.active {
    opacity: 1;
    display: block;
  }
  #hamnav {
    display: block;
    height: auto;
    position: inherit;
    background: white;
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-shadow: var(--default-box-shadow);
  }
  .add-item {
    max-height: 30px;
  }
  .sidebar-items {
    transition: visibility 0s, opacity 0.5s linear;
  }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: black;
  }

  #hamnav label,
  #hamburger {
    display: none;
  }
  /* adjusting size of li in small view */
  li {
    font-size: 16px;
  }

  #hamnav label {
    display: inline-block;
    cursor: pointer;
    font-style: normal;
    padding: 10px;
  }

  #hamitems {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s;
  }
  #hamnav input:checked ~ #hamitems {
    background-color: white;
    max-height: 200px;
  }
}
