#hamnav
{
    display:none;
 
} 

@media only screen and (max-width: 625px) {
    .sidebar
    {
        display:none;
    }
      #hamnav{
          display:block;
    
      }
      .add-item
      {
          height:auto;
      }
  
      #hamitems a {
        flex-grow: 1;
        flex-basis: 0;
        padding: 10px;  
        text-decoration: none;
       font-size:16px;
        color:black
      }
      

      #hamnav label, #hamburger { display: none; }
      li{
          font-size:16px;
      }

      #hamnav label { 
        display: inline-block; 
        cursor: pointer;;
        font-style: normal;
        
        padding: 10px;
      }
   
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block;  background-color:white;}
    
    }
  }