.items-header {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.font-size-item {
  font-size: 14px;
}
/* .btn-item-added {
  height: 30px;
} */
/* 
.item-name {
  max-width: 100px;
  min-width: 50px;
  width: 10%;
}
.item-description {
  width: 50%;
  max-width: 500px;
  overflow: scroll;
}
.item-price {
  width: 20%;
  max-width: 100px;
}
.item-added-on {
  width: 10%;
} */

/* .item-list {
  display: flex;
  color: grey;
  font-size: 12px;
  color: rgb(168, 166, 166);
  background: white;
} */
